html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  /* background: #242424; */
  /* display: flex;
  justify-content: center;
  align-items: center; */

  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;

  background-image: radial-gradient(#313131 1px, #141414 0);
  background-size: 20px 20px;
}

* {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

.left {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 40%;
  background: #292929ae;
  border: none;
  z-index: 999999999;
}

.btns {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  bottom: 0;
  gap: 4px 0px;
  padding: 0px 4px 8px 4px !important;
}

button.abs {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  background: #212121;
  color: white;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #141414 !important;
  height: 60px;
  width: 60px;
  /* width: min(50vw, 240px); */
}

.top-right-buttons {
  position: fixed;
  top: 8px;
  gap: 4px;
  right: 8px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; /* Usually nowrap */
  max-width: 140px;
  flex-direction: row; /* Usually column */
}

.btns > button:hover,
button:active {
  background: #1e1e1e;
}
.btns > button {
  left: calc(50% - 120px);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 16px;
  text-decoration: none;
  background: #212121;
  color: white;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #141414 !important;
  height: 120px;
  width: calc(50vw - 8px);
  /* width: min(50vw, 240px); */
}
.btns > .space {
  width: calc(100vw - 12px);
  /* width: min(100vw, 480px) !important; */
  height: 60px;
}

canvas {
  border: none !important;
}

object,
svg {
  filter: invert();
  pointer-events: none;
  margin-top: 3px !important;
}
